#score-box-community {
	list-style-type:none;
	margin-bottom:0px;
	border:2px solid #888888;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	background-color:white;

	margin-right:10px;
	max-width:167px;
}